
.space-grotesk-ttt {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 40px;
  background-color: #c89df0 !important; /*Used !important to override the background color set by bootstrap*/
}

h1, h3 {
  text-align: center;
}

#start-game {
  display: grid;
  margin: auto;
  border: 2px solid #995bd2;
  border-radius: 5px;
  background-color: #e3d1f4;
  color: #593977;
}

#start-game:hover {
  background-color: #995bd2;
  border-color: #e3d1f4;
  color: #e3d1f4;
}

.game-board {
  width: 490px;
  height: 490px;
  margin: auto;
  border: 4px groove black;
  background-color: darkcyan;
  color: black;
  cursor: pointer;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.box {
  background-color: cyan;
  border: 3px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 3.5rem;
}

img {
  width: 100px;
}

.winning-combination {
  background-color: rgb(109, 233, 105);
  /* background-color: rgb(244, 121, 203); */
  position: relative;
}




