
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.wrapper {
  padding: 0 5vw;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2vw;
  }
}

nav {
  display: flex;
  justify-content: right;
  overflow: hidden;
  font-weight: 500;
}

nav a {
  float: right;
  text-decoration: none;
  color: #593977;
  border-radius: 5px;
  margin: 5px;
  padding: 3px 5px;
}

nav a:hover {
  background-color: #e3d1f4;
}




