.space-grotesk-ttt {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ttt-page {
  background-color: #c89df0;
}

h1,
h3 {
  text-align: center;
}

#start-game {
  display: grid;
  margin: auto;
  padding: 5px 10px;
  border: 2px solid #995bd2;
  border-radius: 5px;
  background-color: #e3d1f4;
  color: #593977;
  font-size: 1rem;
  cursor: pointer;
}

#start-game:hover {
  background-color: #995bd2;
  border-color: #e3d1f4;
  color: #e3d1f4;
}

.game-board {
  width: 90vw; 
  max-width: 500px; 
  aspect-ratio: 1; 
  margin: auto;
  border: 4px groove black;
  background-color: darkcyan;
  color: black;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  gap: 5px;
  padding: 5px;
}

.box {
  background-color: cyan;
  border: 3px solid black;
  width: 100%; /* Adapts to parent size */
  aspect-ratio: 1; /* Keeps box square */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw; /* Responsive font size */
  overflow: hidden;
}

@media (max-width: 768px) {
  .box {
    font-size: 10vw;
  }
  img {
    width: 70%;
    max-width: 80px;
  }
}

img {
  width: 80%; /* Adjusts proportionately to box */
  max-width: 100px; /* Limits size on larger screens */
  max-height: 100%;
  object-fit: contain;
}

.winning-combination {
  background-color: rgb(109, 233, 105);
  /* background-color: rgb(244, 121, 203); */
  position: relative;
}
